@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Comfortaa', cursive; */

*{
    margin: 0;
    padding: 0;
}

body{
font-family: 'Alata', sans-serif;
/* background-image: url(./images/few_bg.png); */
background-attachment: fixed;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body.hide-scrolling {
    overflow-y: hidden;
}

/* Custom CSS to remove padding from ol and ul elements */
ol, ul {
  padding-left: 0 !important;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background:url(./images/back-1-purple.png);
    background: rgb(14, 13, 13); */
    z-index: -1;
    opacity: 1;
background: rgba(0, 0, 0, 0.966);

}

/*----------------------
Custom Scrollbar 
------------------------*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(5, 5, 5);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(184, 138, 237);
}

/*----------------------
Animation Keyframes
------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes bounceTop {

  0%,
  100% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*----------------------
Background Circles
-----------------------*/
.bg-circles {
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bg-circles div {
    position: absolute;
    border-radius: 50%;
  }
  
  .bg-circles .circle-1 {
    height: 30px;
    width: 30px;
    background-color: rgb(175, 117, 247);
    left: 5%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 4s linear infinite;
  }
  
  .bg-circles .circle-2 {
    height: 40px;
    width: 40px;
    background-color: rgb(175, 117, 247);
    left: 30%;
    top: 50%;
    opacity: 0.4;
    animation: bounceTop 2s ease-in-out infinite;
  }
  
  .bg-circles .circle-3 {
    height: 60px;
    width: 60px;
    background-color: rgb(175, 117, 247);
    top: 30rem;
    right: -60px;
    opacity: 0.3;
    animation: bounceTop 2s ease-in-out infinite;
  }
  
  .bg-circles .circle-4 {
    height: 25px;
    width: 25px;
    background-color: rgb(175, 117, 247);
    top: 80%;
    left: -30px;
    opacity: 0.6;
    animation: zoomInOut 4s linear infinite;
  }
  
  .bg-circles .circle-5 {
    height: 35px;
    width: 35px;
    background-color: rgb(175, 117, 247);
    left: 80%;
    top: 80.5%;
    opacity: 0.2;
    animation: bounceTop 2s ease-in-out infinite;
  }
  
  .bg-circles .circle-6 {
    height: 25px;
    width: 25px;
    background-color: rgb(175, 117, 247);
    left: 60%;
    top: 91%;
    opacity: 0.2;
    animation: zoomInOut 2s ease-in-out infinite;
  }
  

/* SECTION 1 */

/* navbar start */
.navbar {
  background-color: rgba(8, 7, 7, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 2% 0px 2%; */
  padding: 5px 20px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
}

.navbar-brand-text {
  color: #fff;
  font-weight: 600;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
}

.navbar-brand-icon {
  width: 65px;
  margin-right: 6px;
  opacity: 1.2;
  box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 20%;
}

.profile-pic {
  margin-left: 50px;
  border-radius: 50%;
  background-color: #dde6ed;
  width: 55px;
  height: 55px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0px 0px 21px 4px lightgray;
    border-radius: 17px;
    margin-top: 2rem
}

.hero{
	position: absolute;
	left: 179px;
	z-index: 0;
}

.container-2{
    z-index: 100;
    background-color: #c1a6fe;
    margin-top: 2rem;
    width: 84%;
    position: relative;
    left: 7.5rem;
    padding: 15px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.container-2 span h5{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Alata', sans-serif;
}
.btn1{
  z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: black;
    color: white;
    width: 25%;
    padding: 12px 16px;
    border: none;
    border-radius: 27px;
    font-size: 13px;
    box-shadow: 0px 0px 8px 5px gray;
    transition: 0.8s ease-in-out;
}
.btn1:hover{
    letter-spacing: 1px;
    font-size: 15px;
}

/* FOOTER STARTS*/
footer {
    /* margin-top: 50px; */
    margin-top: 50px;
    border-top: 0.1px solid rgb(140, 139, 139);
    /* box-shadow: inset 0px 7px 8px -3px rgba(122, 120, 120, 0.5); */
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
}

.footer {
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.ftitle {
    margin-top: 50px;
    font-family: "Comfortaa", cursive;
    color: #8567ac;
    font-weight: 600;
    font-size: larger;
}

.foot-txt {
    line-height: 25px;
    margin-top: 70px;
}

.footer-col-title {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
}

.footer li {
    cursor: pointer;
    list-style: none;
    padding: 10px 0;
}

.footer-col {
    text-align: left;
    margin-top: 20px;
}

.social {
    align-items: center;
}

.social i {
    margin-top: 30px;
    padding: 7px;
}

.social li {
    margin-top: -30px;
}

.social img {
    height: 88px;
}

.footer-icon {
    height: 13%;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
}
/* FOOTER ENDS */


* additional bootsrap css  */
#carouselExampleDark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.carousel{
    width: 100%;
}
.carousel-inner{
    width: 90%;
}
.carousel-item,
.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  position: relative;
    width: 90%;
    text-align: center;
    left: -2rem;
}

.carousel-item img {
  width: 600px;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  left: 15%;
  transform: translate(-50%);
}

.carousel-caption{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 9rem;
    margin-bottom: 2rem; 
}
.carousel-item .carousel-caption,
.carousel-item .carousel-caption p {
  color: black;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

