@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  background-color: #000; /* Set the background color to black */
  position: relative; /* Make the body a positioning context for pseudo-elements */
}

body.hide-scrolling {
  overflow-y: hidden;
}

/*----------------------
    Custom Scrollbar 
    ------------------------*/
::-webkit-scrollbar {
  width: 5px;
}

body.hide-scrolling {
  overflow-y: hidden;
}

/*----------------------
    Custom Scrollbar 
 ------------------------*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(4, 4, 4);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(156, 122, 242);
}

::-webkit-scrollbar-track {
  background-color: rgb(4, 4, 4);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(156, 122, 242);
}
a {
  text-decoration: none;
}
/* navbar start */
.navbar {
  background-color: rgba(8, 7, 7, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-brand-text {
  color: #fff;
  font-weight: 600;
  font-family: "Comfortaa", cursive;
}

.navbar-brand-icon {
  width: 70px;
  margin-right: 5px;
  opacity: 1.2;
  box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 20%;
}

.profile-pic {
  margin-left: 50px;
  border-radius: 50%;
  background-color: #dde6ed;
  width: 55px;
  height: 55px;
}
.section-1 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 7rem;
  margin-bottom: 2rem;
  background-image: url(../images/Job-training/wave-bg.svg);
  background-position-y: -2rem;
}
.container-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  align-items: center;
}
.container-1 span:nth-child(1) {
  font-size: 3.2rem;
  font-weight: 500;
}
.container-1 span:nth-child(2) {
  /* font-size:2rem; */
  /* color: antiquewhite; */
  background: linear-gradient(to right, #ffff, #4b2b8a), #f0dfec;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container-1 span:nth-child(3) {
  margin-top: 1rem;
  font-size: 1.1rem;
}
.btn-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.button-container a {
  display: inline-block; /* Set to inline-block */
  vertical-align: middle; /* Vertically align the <a> tag */
  text-decoration: none; /* Remove underlines */
}
.container-1 button {
  padding: 0.9rem 2rem;
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}
.container-1 button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* White shadow on hover */
  transform: scale(
    1.05
  ); /* Slight zoom effect on hover (adjust the scale value) */
  border: none;
}

.section-2 {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.card-1 a,
.card-2 a,
.card-3 a {
  color: inherit; /* Use the color of the parent element (div.card-1) */
  text-decoration: none;
  scroll-behavior: smooth;
}

.card-1,
.card-2,
.card-3 {
  font-family: "Comfortaa", cursive;
  width: 15.3125rem;
  height: 18.0625rem;
  flex-shrink: 0;
  margin: 0 3rem 1rem;
  /* font-family: 'Alata', sans-serif; */
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  text-align: center;
  color: #f0dfec;
  position: relative;
  overflow: hidden; /* To hide the gradient overlay initially */
  transition: transform 0.3s, color 0.3s, box-shadow 0.3s; /* Add transitions for transform, color, and box-shadow */
  border: 1px solid rgba(156, 122, 242, 0.7); 
  border-radius: 22px;

}

.card-1::before,
.card-2::before,
.card-3::before {
  content: "";
  position: absolute;
  top: 100%; /* Initially, set the gradient below the card */
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    black,
    rgba(156, 122, 242, 0.7)
  );
  z-index: -1;
  opacity: 0.7;
  transition: top 0.3s; /* Add transition for top position */
  border-radius: 22px;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: translateY(-20px); /* Move the card up on hover */
  color: #fff; /* Change text color to white on hover */
  box-shadow: 0 0 20px rgba(156, 122, 242, 0.7); /* Purple-white box-shadow on hover */
  border: 1px solid rgba(156, 122, 242, 0.7); /* Border with purplish color on hover */
}

.card-1:hover::before,
.card-2:hover::before,
.card-3:hover::before {
  top: 0; /* Move the gradient up on hover */
}
.section-3 {
  color: #000;
  display: flex;
  justify-content: space-evenly; /* Adjust alignment as needed */
  align-items: center;
  margin: 4rem 0 2rem;
  font-size: 1rem;
  padding: 1rem; /* Add padding to the section-3 container for spacing */
}

.left-list-box,
.right-list-box {
  padding: 1rem 0 1rem 1rem;
  background: linear-gradient(to right, #ffff, #4b2b8a), #f0dfec;
  border-radius: 1rem;
  margin: 0 0.5rem; /* Add space between the boxes */
  display: inline-block;
  width: 31rem;
}

.left-list,
.right-list {
  list-style-type: none;
  padding: 0;
}

.section-3 li {
  padding: 0.5rem 0;
  list-style-type: square;
  margin-left: 1.1rem;
  /* font-family: "Alata", sans-serif; */
}

.section-4{
  color: #fff;
  display: flex;
  justify-content: center;
}
.section-4-box {
  /* background: linear-gradient(to right, white, purple);  */
  margin-top: 2rem;
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners for the box */
  display: flex; /* Ensure the box fits the content width */
  border: 1px solid;
  justify-content: center;
  align-items: center;
}
.section-4-box span{
  font-size: 1.8rem;
  margin-right: 1rem;

}
.startnow {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding for button size */
  background-color: #594296; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline for the link */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.startnow:hover {
  background-color: #663399; /* Change background color on hover */
  transform: scale(1.05); /* Add a slight zoom effect on hover */
}

/* FOOTER STARTS*/
footer {
  background-color: #0e0d0d;
  color: white;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0px;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.ftitle {
  padding-top: 3.5rem;
  color: hsl(0, 2%, 79%);
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: larger;
}

.foot-txt {
  line-height: 25px;
  margin-top: 70px;
  font-family: "Roboto", sans-serif;
  color: hsl(0, 2%, 79%);
  padding-bottom: 40px;
}

.footer-col-title {
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}

.footer li {
  cursor: pointer;
  list-style: none;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
}

.footer-col {
  text-align: left;
  margin-top: 20px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social i {
  margin-top: 30px;
  padding: 7px;
}

.social li {
  margin-top: -30px;
}

.footer-icon {
  width: 5.6rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
  display: block;
}
/* FOOTER ENDS */