@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:wght@200;300&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: url("../images/hero-gradient.png"); */
  background-color: #000000;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.joblist {
  display: flex;
  flex-direction: column;
}

/* navbar part */
.navbar {
  display: flex;
  justify-content: space-between;
  max-height: 4.375rem;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Alata", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.313rem 1.25rem;
  /* background-color: rgba(8, 7, 7, 0.4); */
  background-color: #8a2be2;
  z-index: 210;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
}

.logo span {
  font-weight: 600;
  margin-left: 0.313rem;
  font-family: "Comfortaa", cursive;
}

.nav-content {
  gap: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.nav-icon {
  display: flex;
  align-items: center;
  margin-right: 4.6rem;
}

/* Main container */
.container {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin-top: 4.7rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 230px;
  background-color: #141414;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  transition: max-height 0.3s ease;
}

.sidebar {
  overflow-y: auto;
}

.sidebar:hover {
  max-height: 500px;
  overflow-y: auto;
}

/* Hide the scrollbar */
.sidebar::-webkit-scrollbar {
  width: 0.1em;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.main-content {
  flex: 1;
  /* Use flex: 1 to make the main content occupy remaining space */
  margin-left: 240px;
  /* Add a margin to push it right next to the sidebar */
  padding: 20px;
  /* Add some padding to the main content */
  overflow: auto;
  /* Enable scrolling within the main content */
}

/* Heading style */
.sidebar h2 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.sidebar h3 {
  margin-top: 0;
}

/* Checkbox list */
.checkbox-list label {
  display: block;
  margin-bottom: .9rem;
}

/* Custom checkboxes */
.checkbox-list input[type="checkbox"] {
  display: none;
}

/* Checkbox styles */
.checkbox-list label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

/* Checkbox checked styles */
.checkbox-list input[type="checkbox"]:checked+label:before {
  background-color: #476cff;
}

/* Card */
.card {
  background-color: #141414;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Cards container */
.cards-container {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 25px;
}

/* Card */
.card-search {
  background-color: #070505;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 15px;
  width: 250px;
  margin: 10px;
  margin-left: 5px;
}

/* Card title */
.card-search h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Card input field */
.card-search input {
  width: 100%;
  padding: 10px 20px;
  letter-spacing: 1.5px;
  margin-top: 8px;
  border-radius: 70px;
  border: none;
  background-color: #1b1818;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 1px solid #fff;
}



/* Range selector */
.range-selector {
  display: flex;
  flex-direction: column;
  color: #010000;
  float: right;
  margin-top: 40px;
}

.range-selector input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  background-color: #8a2be2;
  outline: none;
  border-radius: 10px;
}

.range-selector input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #8a2be2;
  cursor: pointer;
  border-radius: 100%;
}

.range-selector input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #8a2be2;
  cursor: pointer;
  border-radius: 100%;
}

/* Recommended Jobs */
.recommended-jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommended-jobs h2 {
  margin-left: 30px;
  color: #fff;
}

/* apply filters */
.btn {
  background-color: #8a2be2;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  width: 20%;
  border: none;
}

.btn:hover {
  background-color: #ffffff;
  color: #8a2be2;
  transition: 0.3s ease-in;
}

/* Job Card */

.job-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  flex-direction: row;
}

/* .job-card {
  background-color: #222;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
} */

.job-card p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 5px;
}

.inner-card {
  padding: 30px 15px;
  border-radius: 15px;
  background-color: #e5e6e0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.job-info {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
}

.logo img {
  max-width: 60px;
  /* Adjust the size as needed */
}

.details {
  flex: 1;
}

.details .details-buttons {
  display: flex;
  justify-content: flex-end;
}

.details-buttons .details {
  margin-left: auto;
}

.details .details-buttons .details:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: 0.2s ease-in;
}