@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Alata', sans-serif; */


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Alata', sans-serif;
  background-color: #000;
  color: white;
  background-attachment: fixed;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 35px 15px;
  scroll-behavior: smooth;
}

body.hide-scrolling {
  overflow-y: hidden;
}


body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background:url(./images/back-1-purple.png);
    background: rgb(14, 13, 13); */
  color: white;
  z-index: -1;
  opacity: 1;
}

/*----------------------
Custom Scrollbar 
------------------------*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(103, 52, 169);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(184, 138, 237);
}

.Navbar {
  /* position: fixed; */
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  height: 60px;
}

.logo-and-name {
  display: flex;
  vertical-align: middle;
  height: 44px;
}

.logo-and-name h4 {
  position: relative;
  top: -49px;
  left: 50px;
  margin-right: 63px;
}

.logo-and-name img {
  position: relative;
  top: -8px;
  height: 40px;
  margin: 2.5px;
}

.left-side-nav {
  display: flex;
  gap: 40px;
  z-index: 100;
}

.left-side-nav a {
  text-decoration: none;
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.right-side-nav {
  display: flex;
  margin-right: 2rem;
  gap: 20px;
  z-index: 100;
}

/* Basic styles for the links inside .right-side-nav */
.right-side-nav a {
  position: relative;
  /* Required for positioning the underline */
  text-decoration: none;
  /* Remove default underline */
  /* Set link color */
  text-decoration: none;
  color: white;

  font-family: 'Alata', sans-serif;
  font-size: 17px;
  text-decoration: none;

  font-family: 'Alata', sans-serif;
  font-size: 17px;
  transition: 0.5s ease-in-out;
  /* Add a smooth transition effect on hover */

}

/* Underline styles */
.right-side-nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 19px;
  /* Adjust this value to control the distance of the underline from the text */
  width: 100%;
  height: 2px;
  /* Adjust this value to control the thickness of the underline */
  background-color: #000;
  /* Set underline color */
  transform: scaleX(0);
  /* Start with no underline (scaleX(0)) */
  transform-origin: left;
  transition: transform 0.3s;
  /* Add a smooth transition effect on hover */
}

/* Animation on hover */
.right-side-nav a:hover::after {
  transform: scaleX(1);
  /* Scale the underline to its original width on hover (scaleX(1)) */
}

.right-side-nav a:hover {
  letter-spacing: 3px;
  font-size: 18px;

}

/* Your existing styles here */

/* Dropdown menu */
.dropdown_menu {
  display: none;
}

.dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown_menu ul li {
  padding: 10px;
}

/* Show dropdown menu on hover */
.dropdown-toggle:hover .dropdown_menu {
  display: block;
}



.mentor-search {
  position: relative;
  width: 260px;
  top: -16px;
  display: flex;
  justify-content: center;
  color: white;
  border: 0.5px solid white;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 1px 16px;
  box-shadow: 0px 0px 202px -3px white;
  gap: 8px;
}


.mentoring {
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: transparent;
  color: white;
  backdrop-filter: blur(122px);
  padding: 43px 58px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 90%;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 292px -9px rgb(196, 185, 185);
}

.box-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px;
  padding: 12px 3px;
  width: 60%;
  font-size: 15px;
  line-height: 53px;
  font-weight: 100;
  /* margin-top: 2rem; */
}

.image1 {
  position: relative;
  top: -38px;
  height: 29px;
}

.box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.feature1 {
  z-index: 100;
  border: 1px solid white;
  padding: 18px 81px;
  box-shadow: 0px 0px 10px #8d89894d;
  border-radius: 22px;
  text-decoration: none;
  color: white;
  background-color: black;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 2px;
  transition: 0.5s ease-in-out;
}

.feature2 {
  z-index: 100;
  border: 1px solid white;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 14px;
  padding: 10px 24px;
  font-weight: 500;
  box-shadow: 0px 0px 10px #8d89894d;
  border-radius: 22px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 2px;
  transition: 0.5s ease-in-out;
}

.feature2 img {
  height: 56px;
}

.feature1 a {
  text-decoration: none;
  color: black;
}

.feature1:hover {
  background-color: #f2f1f6;
  color: rgb(6, 6, 6);
  font-weight: 500;
  letter-spacing: 2px;
}

.feature2 a {
  text-decoration: none;
  color: black;
}

.feature2:hover {
  background-color: #0a0a0a;
  font-weight: 500;
  color: rgb(242, 240, 240);
  letter-spacing: 2px;
}


.test {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 12px 80px;
  font-size: larger;
  box-shadow: 0px 0px 92px 2px gray;
  border-radius: 22px;
  border: 0.2px solid white;
}

.test-img {
  height: 35px;
}

.test a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
}


.container {
  max-width: 86rem;
  height: 32rem;
  margin: 0 auto;
  padding: 20px 57px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -44rem;
}


.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 29px;
  background-color: black;
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3px;
  padding-right: 1px;
  padding-left: 1px;
  box-shadow: 0px 0px 24px 5px gra
}

form {
  margin-bottom: 20px;
}

#meeting-form {
  padding: 3px 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}






.container-center {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;
  margin-top: 220px;
  margin-bottom: 20px;
  font-size: 62px;
  line-height: 59px;
  letter-spacing: 2px;
  font-weight: 700;
}

.main-text {
  font-family: 'Alata', sans-serif;
  color: white;
  display: block;
  margin: auto;
  position: relative;
  margin-left: 50px;
  margin-top: 19px;
}

.main-text h3 {
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
  color: rgb(22, 22, 22);
  letter-spacing: 6px;
  line-height: -4px;
  font-weight: 700;
}

.main-head {
  width: 80%;
  position: relative;
  top: -4rem;
  text-align: center;
  left: 5rem;

}

.main-head h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
  line-height: 80px;
  align-items: center;
}

.main-head p {

  font-weight: 100;
  font-size: 15px;
  line-height: 40px;
}

.main-head a {
  z-index: 100;
  text-decoration: none;
  color: white;
  font-family: 'Alata', sans-serif;
  ;
  font-size: 15px;
  font-weight: 300;
  background-color: #000;
  padding: 12px 16px;
  box-shadow: 0px 0px 82px grey;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main-head a:hover {
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
}


/* Scroll */
section {
  height: 100vh;
  position: relative;
}

#section-1 {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

a#scroll-btn {
  position: absolute;
  height: 5em;
  width: 2em;
  border: 0.2em solid #030202;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 6.25em;
  border-radius: 3em;
}

a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 1.2em;
  height: 0.8em;
  width: 0.8em;
  background-color: #090909;
  border-radius: 50%;
  animation: move-down 2s infinite;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(5.3em);
    opacity: 0;
  }
}

a#scroll-btn:after {
  position: absolute;
  top: 100px;
  content: "Scroll to find out more";
  width: 12em;
  display: block;
  width: 12em;
  text-align: center;
  left: -4.2em;
  bottom: -2.5em;
  font-size: 0.8em;
  color: #090909;
  letter-spacing: 3px;
  font-weight: 600;
}

#section-2 {
  background-color: #11131515;
  color: #030303;
  font-size: 2.7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 500px) {
  a#scroll-btn {
    font-size: 12px;
  }
}

/* Scroll */


/* //circle animations */

/*----------------------
Animation Keyframes
------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes bounceTop {

  0%,
  100% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*----------------------
  Background Circles
  -----------------------*/
.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}

.bg-circles div {
  position: absolute;
  border-radius: 50%;
}

.bg-circles .circle-1 {
  height: 30px;
  width: 30px;
  background-color: rgb(175, 117, 247);
  left: 5%;
  top: 10%;
  opacity: 0.3;
  animation: zoomInOut 4s linear infinite;
}

.bg-circles .circle-2 {
  height: 40px;
  width: 40px;
  background-color: rgb(175, 117, 247);
  left: 30%;
  top: 50%;
  opacity: 0.4;
  animation: bounceTop 2s ease-in-out infinite;
}

.bg-circles .circle-3 {
  height: 60px;
  width: 60px;
  background-color: rgb(175, 117, 247);
  top: 30rem;
  right: -60px;
  opacity: 0.3;
  animation: bounceTop 2s ease-in-out infinite;
}

.bg-circles .circle-4 {
  height: 25px;
  width: 25px;
  background-color: rgb(175, 117, 247);
  top: 80%;
  left: -30px;
  opacity: 0.6;
  animation: zoomInOut 4s linear infinite;
}

.bg-circles .circle-5 {
  height: 35px;
  width: 35px;
  background-color: rgb(175, 117, 247);
  left: 80%;
  top: 80.5%;
  opacity: 0.2;
  animation: bounceTop 2s ease-in-out infinite;
}

.bg-circles .circle-6 {
  height: 25px;
  width: 25px;
  background-color: rgb(175, 117, 247);
  left: 60%;
  top: 91%;
  opacity: 0.2;
  animation: zoomInOut 2s ease-in-out infinite;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
}

.left {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  gap: 20px;
  width: 70%;
  padding: 40px 20px;

}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
}

.list {
  font-size: 18px;
  font-family: 'Alata', sans-serif;
  text-align: left;
  line-height: 30px;
  padding: 12px 16px;
}

.list li {
  font-weight: 100;
}

#section-2 h5 {
  font-family: 'Alata', sans-serif;

}

.pics {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pics img {
  height: 300px;
  width: 100%;
}

/* FOOTER STARTS*/
footer {
  margin-top: 50px;
  border-top: 0.1px solid rgb(140, 139, 139);
  /* box-shadow: inset 0px 7px 8px -3px rgba(122, 120, 120, 0.5); */
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
}

.footer {
  /* margin-top: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0px;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.ftitle {
  margin-top: 50px;
  font-family: "Comfortaa", cursive;
  color: #8567ac;
  font-weight: 600;
  font-size: larger;
}

.foot-txt {
  line-height: 25px;
  margin-top: 70px;
}

.footer-col-title {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}

.footer li {
  cursor: pointer;
  list-style: none;
  padding: 10px 0;
}

.footer-col {
  text-align: left;
  margin-top: 20px;
}

.social {
  align-items: center;
}

.social i {
  margin-top: 30px;
  padding: 7px;
}

.social li {
  margin-top: -30px;
}

.social img {
  height: 88px;
}

.footer-icon {
  height: 13%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
}

/* FOOTER ENDS */