@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400");

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Comfortaa', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  color: white;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body.hide-scrolling {
  overflow-y: hidden;
}

/*----------------------
Custom Scrollbar 
------------------------*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(8, 8, 8);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(201, 172, 235);
}

.hero {
  position: absolute;
  left: -471px;
  top: -155px;
  height: 974px;
  float: left;
  opacity: 0.6;
}


.background-img img {
  max-width: 100%;
  max-height: 100%;

}

.section-1-main-2 {
  position: relative;
  margin-top: 150px;
  margin-left: -230px;
}

.section-1-main-2 h3 {
  position: absolute;
  top: -28rem;
  left: 40rem;
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
  color: rgb(8, 8, 8);
  letter-spacing: 6px;
  line-height: -4px;
  font-weight: 700;
}

/* navbar css */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .4) !important;
  position: fixed;
  top: 0px;
  width: 100%;
  max-height: 70px;
  padding: 5px 10px;
  z-index: 250;
}

.section-1-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.section-1-header-logo img {
  height: 50px;
}

.logo-text {
  font-family: 'Comfortaa', cursive;
  margin-left: 3px;
  font-weight: 600;
}

.section-1-header-items {
  background-color: rgba(0, 0, 0, -0.0) !important;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 70px;
  z-index: 250;
}

#dropdown {
  display: inline-block;
  position: relative;
  height: 70px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}

#dropdown a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 150px;
  z-index: 1;
  color: white;
  background-color: #020202;
}

/* Links inside the dropdown */
#dropdown-content a {
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
  color: rgb(183, 144, 247);
  border-bottom: 5px solid #9766ec;
}

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropdown:hover {
  color: #c799ed;
  background-color: #000000;
  transition: .3s;
}

.section-1-header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: white;
  border-radius: 35px;
}

.section-1-header-contact a {
  text-decoration: none;
  color: #050505;
  font-family: 'Alata', sans-serif;
}

/* Scroll Down styling */
section {
  position: relative;
  width: 100%;
  height: 100%;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 300 24px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#section03 {
  background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg);
}

/* Scroll Down styling */

/* Thanks section + Demo section */
#thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#thanks::after {
  content: none;
}

#thanks div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanks h2 {
  padding-bottom: 20px;
  color: #b9aaf7;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#thanks p {
  padding: 20px 15px;
  color: #cdb4f7;
  font: normal 500 100px/1 'Josefin Sans', sans-serif;
  background-color: #cdb4f7;
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

#thanks p a {
  color: #ffffff;
  text-decoration: none;
}

#thanks p a:hover {
  color: #9766ec;
  transition: .2s;
}

.demo a {
  position: absolute;
  bottom: 150px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

/* Thanks section + Demo section */
/* section-scroll */
#section03 {
  position: relative;
  margin-top: -113px;
}

#section03 a {
  padding-top: 60px;
}

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #b18ef1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* section-scroll */
.gradient-text {
  font-family: 'Alata', sans-serif;
  background: linear-gradient(to right, #ffff, #4b2b8a), #f0dfec;
  /* Replace with your desired gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----------------------
Animation Keyframes
------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes bounceTop {

  0%,
  100% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*----------------------
Background Circles
-----------------------*/
.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
}

.bg-circles div {
  position: absolute;
  border-radius: 50%;
}

.bg-circles .circle-1 {
  height: 30px;
  width: 30px;
  background-color: rgb(175, 117, 247);
  left: 5%;
  top: 10%;
  opacity: 0.3;
  animation: zoomInOut 4s linear infinite;
}

.bg-circles .circle-2 {
  height: 40px;
  width: 40px;
  background-color: rgb(175, 117, 247);
  left: 30%;
  top: 50%;
  opacity: 0.4;
  animation: bounceTop 2s ease-in-out infinite;
}

.bg-circles .circle-3 {
  height: 60px;
  width: 60px;
  background-color: rgb(175, 117, 247);
  top: 30rem;
  right: -60px;
  opacity: 0.3;
  animation: bounceTop 2s ease-in-out infinite;
}

.bg-circles .circle-4 {
  height: 25px;
  width: 25px;
  background-color: rgb(175, 117, 247);
  top: 80%;
  left: -30px;
  opacity: 0.6;
  animation: zoomInOut 4s linear infinite;
}

.bg-circles .circle-5 {
  height: 35px;
  width: 35px;
  background-color: rgb(175, 117, 247);
  left: 80%;
  top: 80.5%;
  opacity: 0.2;
  animation: bounceTop 2s ease-in-out infinite;
}

.bg-circles .circle-6 {
  height: 25px;
  width: 25px;
  background-color: rgb(175, 117, 247);
  left: 60%;
  top: 91%;
  opacity: 0.2;
  animation: zoomInOut 2s ease-in-out infinite;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

/* additional bootsrap css  */
#carouselExampleDark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.carousel-item,
.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
}

.carousel-item img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.carousel-item .carousel-caption,
.carousel-item .carousel-caption p {
  color: black;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px 0px;
  background-color: #f1efef;
}

.footer {
  /* background-color: transparent; */
  /* backdrop-filter: blur(10px); */
  color: rgb(235, 233, 233);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.ftitle {
  font-family: "Comfortaa", cursive;
  color: #8567ac;
  font-weight: 600;
  font-size: larger;
}

.foot-txt {
  line-height: 25px;
}

.footer-col-title {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.footer li {
  cursor: pointer;
  list-style: none;
  padding: 10px 0;
  color: #000000;
}

.footer-col {
  text-align: left;
  margin-top: 20px;
}

.social {
  align-items: center;
}

.social i {
  margin-top: 30px;
  padding: 7px;
}

.social li {
  margin-top: -30px;
}

.social img {
  height: 88px;
}

.footer-icon {
  height: 13%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(90, 123, 128, 0.3);
}