@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:wght@200;300&family=Poppins&display=swap');



/* font-family: 'Alata', sans-serif; */
/* font-family: 'Comfortaa', cursive; */


.body.blur {
    overflow: hidden;
    filter: blur(5px);
}

.wrapper {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, pointer-events 0s 0.3s;
}

.wrapper.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out, visibility 0s, pointer-events 0s;
}

.wrapper input,
.wrapper textarea,
.wrapper select,
.wrapper button {
    /* font-family: 'Alata', sans-serif; */
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 10px;
}

.wrapper .inner p,
.wrapper .inner h1,
.wrapper .inner h2,
.wrapper .inner h3,
.wrapper .inner h4,
.wrapper .inner h5,
.wrapper .inner h6,
.wrapper .inner ul {
    margin: 0;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.wrapper img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper ul {
    padding-left: 0;
    margin-bottom: 0;
}

.wrapper a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

.wrapper {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(255, 255, 255, 0.69);
    -moz-box-shadow: 0px 0px 27px 0px rgba(255, 255, 255, 0.69);
    box-shadow: 0px 0px 27px 0px rgba(255, 255, 255, 0.69);
    border-radius: 10px;
}

.inner {
    padding: 15px;
    background-color: #f0ecec;
    max-width: 850px;
    margin: auto;
    display: flex;
    border-radius: 10px;
    width: 780px;
    height: 550px;
    background-position: right;
}

.inner .image-holder {
    width: 60%;
}

.inner form {
    width: 54%;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 45px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
}

.or {
    display: flex;
    color: rgb(148, 76, 249);
    font-family: 'Alata', sans-serif;

}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.socials img {
    width: 24px;
}

.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    text-align: center;
    justify-content: center;
    color: #000000;
    padding-bottom: 20px;
}

.form-wrapper {
    position: relative;
}

.form-wrapper i {
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.wrapper button {
    border: none;
    width: 180px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background: #ffffff;
    font-size: 15px;
    color: #333;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-left: 120px;
}

.wrapper button i {
    margin-right: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.wrapper button:hover i,
.wrapper button:focus i,
.wrapper button:active i {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (max-width: 1199px) {
    .wrapper {
        background-position: right center;
    }
}

@media (max-width: 991px) {
    .inner form {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .inner {
        display: block;
    }

    .inner .image-holder {
        width: 100%;
    }

    .inner form {
        width: 100%;
        padding: 40px 0 30px;
    }

    .wrapper button {
        margin-top: 60px;
    }
}

/* new feature for the input text */
.group {
    position: relative;
    padding-bottom: 25px;
    padding-left: 10px;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    padding-left: 10px;

}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: rgb(209, 193, 255);
}

.bar {
    position: relative;
    display: block;
    width: 450px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #9585eb;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 3.35%;
}

/* .bar:after {
    right: 50%;
} */

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 100%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* css for register button */
.register {
    height: 50px;
    width: 200px;
    position: relative;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #030303;
    transition: all 0.5s ease-in-out;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 2px;
}

.register::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: rgb(154, 102, 250);
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.register:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
}

.register:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}